In [24]:
import pandas as pd
import numpy as np

# Preprocessing Credit Card Fraud Data

In [25]:
dataDir = "/home/ababil/BUET/4-2/CSE472/Datasets/"
filename = "creditcard.csv"

df = pd.read_csv(dataDir+filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [26]:
features = df[df.columns.values[:-1]]
labels = df[df.columns.values[-1]]
labels.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [27]:
# truncate the dataset to 20000 neg samples and all pos samples

df = pd.concat([df[df['Class']==1], df[df['Class']==0].sample(n=20000)]).sample(frac=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20492 entries, 136640 to 161452
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    20492 non-null  float64
 1   V1      20492 non-null  float64
 2   V2      20492 non-null  float64
 3   V3      20492 non-null  float64
 4   V4      20492 non-null  float64
 5   V5      20492 non-null  float64
 6   V6      20492 non-null  float64
 7   V7      20492 non-null  float64
 8   V8      20492 non-null  float64
 9   V9      20492 non-null  float64
 10  V10     20492 non-null  float64
 11  V11     20492 non-null  float64
 12  V12     20492 non-null  float64
 13  V13     20492 non-null  float64
 14  V14     20492 non-null  float64
 15  V15     20492 non-null  float64
 16  V16     20492 non-null  float64
 17  V17     20492 non-null  float64
 18  V18     20492 non-null  float64
 19  V19     20492 non-null  float64
 20  V20     20492 non-null  float64
 21  V21     20492 non-null  float64
 22  V22     20492 non-null  float64
 23  V23     20492 non-null  float64
 24  V24     20492 non-null  float64
 25  V25     20492 non-null  float64
 26  V26     20492 non-null  float64
 27  V27     20492 non-null  float64
 28  V28     20492 non-null  float64
 29  Amount  20492 non-null  float64
 30  Class   20492 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 5.0 MB

In [28]:
# find if there are empty cells
print(df.isnull().values.any())

False

In [29]:
features = df[df.columns.values[:-1]]
labels = df[df.columns.values[-1]]
labels.value_counts()

0    20000
1      492
Name: Class, dtype: int64

In [30]:
features.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
136640,81803.0,-1.214480,0.199326,0.533076,-2.228259,3.307000,2.936143,0.392270,0.673839,-0.356492,...,0.006066,-0.291107,-1.097006,-0.161059,0.966194,0.503371,-0.171775,-0.374686,-0.101133,1.98
266782,162482.0,1.869728,-0.479746,-1.723781,0.240767,1.992526,3.954872,-0.932867,1.037259,0.692117,...,-0.104621,-0.195877,-0.645601,0.395487,0.623561,-0.360354,-0.963981,0.065912,-0.025161,42.89
166891,118368.0,-0.090300,1.413396,-1.974486,-0.332538,0.758125,-1.545336,1.017859,0.043688,-0.160650,...,-0.279998,0.178913,0.502794,0.039683,1.026741,-0.348230,0.490424,-0.177869,0.008071,10.00
23360,32720.0,0.861564,-0.551809,0.529271,1.496429,-0.614032,0.167572,-0.047357,-0.014536,0.871125,...,0.247348,-0.033414,-0.125323,-0.332154,-0.091578,0.718740,-0.291136,0.027453,0.052578,185.64
105383,69492.0,1.057325,-0.149679,1.360789,1.798195,-0.865595,0.413692,-0.527179,0.263947,1.229282,...,-0.220127,-0.394303,-0.659474,0.125098,0.407649,0.382426,-0.529882,0.091775,0.032014,10.38
223318,143333.0,-4.541146,-2.572275,-0.816546,-1.825096,-0.797454,2.155768,0.407510,1.013513,-0.876529,...,-0.723914,-0.324972,-0.759433,-1.001700,-0.856009,0.171137,-0.501843,-0.180787,0.013792,403.80
3828,3352.0,-0.749016,1.129086,0.533418,0.872295,2.635754,-0.602326,-1.338940,-0.685009,-0.610479,...,-0.086052,0.632140,-0.980442,-3.109411,-1.281697,-0.279016,0.714328,0.233899,0.175285,0.76
208307,137062.0,2.091583,-0.207880,-1.439211,0.404543,0.174420,-0.632289,0.111845,-0.297091,0.814452,...,-0.176859,0.089428,0.587785,-0.094404,-0.551357,0.308711,0.764428,-0.067531,-0.076792,10.72
175093,122195.0,-0.515299,1.556084,-0.368029,4.135762,1.282154,0.657866,0.622960,-0.066090,-1.408844,...,0.302470,0.220055,1.062257,-0.231188,0.108453,-1.176028,0.319177,-0.002729,-0.152123,21.94
148736,90161.0,-0.200962,0.625390,-0.064742,-1.419421,1.364999,-0.162979,1.059415,-0.056752,1.126521,...,-0.293820,-0.232198,-0.520229,0.102769,0.009910,-0.896567,-0.141456,0.090760,0.208328,29.88

In [31]:
# find the range of each feature
for col in features.columns.values:
    print(col, features[col].min(), features[col].max())

Time 0.0 172792.0
V1 -46.8550472007818 2.45188848995359
V2 -45.6079725644236 22.0577289904909
V3 -31.1036848245812 9.38255843282114
V4 -5.14745131466651 13.1291433551249
V5 -35.1821203113785 22.7077615889268
V6 -13.4507728261301 21.5504961925796
V7 -43.5572415712451 36.8773682682598
V8 -41.0442609210741 20.0072083651213
V9 -13.4340663182301 15.5949946071278
V10 -24.5882624372475 23.7451361206545
V11 -4.33931865457737 12.0189131816199
V12 -18.6837146333443 4.1478243038927
V13 -3.43771850748894 4.56900895856606
V14 -19.2143254902614 6.69075188371441
V15 -4.49894467676621 5.82565431863365
V16 -14.1298545174931 8.28988955954619
V17 -25.1627993693248 7.29770644636297
V18 -9.49874592104677 3.79031621184375
V19 -4.1717073053723 5.2283417900513
V20 -28.009635333749 16.1785349526456
V21 -22.7976039055519 27.2028391573154
V22 -8.88701714094871 8.36198519168435
V23 -27.5336432850003 17.2978450837577
V24 -2.7610465396354 3.54240976972977
V25 -4.78160552206407 7.51958867870916
V26 -2.06856086855144 3.07293674437706
V27 -22.5656793207827 5.79407531493839
V28 -11.7108956394515 22.6200722185803
Amount 0.0 6950.51

In [32]:
# split into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=77)

In [33]:
# standardize the features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaledFeatures = scaler.fit_transform(X_train)
scaledFeatures

array([[-1.17042335, -0.36333982,  0.01835815, ..., -1.76556619,
        -0.6536593 , -0.1708637 ],
       [-1.0743124 ,  0.55806122,  0.14291958, ...,  0.06289033,
         0.04926657, -0.34449647],
       [ 1.60173215, -0.50517562,  1.08802702, ...,  0.75644727,
         0.63346153, -0.38360726],
       ...,
       [ 1.29437118, -0.12405526, -0.15402722, ...,  0.17960084,
         0.45885181,  0.25800926],
       [-1.31650947,  0.52807946,  0.04391281, ..., -0.03041529,
         0.05439415, -0.10579481],
       [ 1.20819619,  0.92118589, -1.15521225, ...,  0.04648621,
        -0.07526436,  0.20244677]])

# Preprocessing Telco Churn Data

In [42]:
dataDir = "/home/ababil/BUET/4-2/CSE472/Datasets/"
filename = "WA_Fn-UseC_-Telco-Customer-Churn.csv"

df = pd.read_csv(dataDir+filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [43]:
# find all unique values of each column
for col in df.columns.values:
    print(col, df[col].unique())

customerID ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender ['Female' 'Male']
SeniorCitizen [0 1]
Partner ['Yes' 'No']
Dependents ['No' 'Yes']
tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService ['No' 'Yes']
MultipleLines ['No phone service' 'No' 'Yes']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes' 'No internet service']
OnlineBackup ['Yes' 'No' 'No internet service']
DeviceProtection ['No' 'Yes' 'No internet service']
TechSupport ['No' 'Yes' 'No internet service']
StreamingTV ['No' 'Yes' 'No internet service']
StreamingMovies ['No' 'Yes' 'No internet service']
Contract ['Month-to-month' 'One year' 'Two year']
PaperlessBilling ['Yes' 'No']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn ['No' 'Yes']

In [44]:
# change total charges to numeric
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# find if there are NaN values in int and float columns
for col in df.columns.values:
    if df[col].dtype == 'int64' or df[col].dtype == 'float64':
        print(col, df[col].isnull().values.any())

SeniorCitizen False
tenure False
MonthlyCharges False
TotalCharges True

In [45]:
# if there are NaN values, replace them with 0
for col in df.columns.values:
    if df[col].dtype == 'int64' or df[col].dtype == 'float64':
        df[col] = df[col].fillna(0)

In [46]:
# find if there are empty cells for each column
for col in df.columns.values:
    print(col, df[col].isnull().values.any())

customerID False
gender False
SeniorCitizen False
Partner False
Dependents False
tenure False
PhoneService False
MultipleLines False
InternetService False
OnlineSecurity False
OnlineBackup False
DeviceProtection False
TechSupport False
StreamingTV False
StreamingMovies False
Contract False
PaperlessBilling False
PaymentMethod False
MonthlyCharges False
TotalCharges False
Churn False

In [47]:
# drop customerID
df.drop(['customerID'], axis=1, inplace=True)
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [48]:
# change the binary columns to 0 and 1
for col in df.columns.values:
    # if object type and only 2 unique values
    if len(df[col].unique()) == 2 and df[col].dtype == 'object':
        # if the first value is 'No' then change it to 0 and the second value to 1
        if df[col].unique()[0] == 'No':
            df[col] = df[col].map({df[col].unique()[0]:0, df[col].unique()[1]:1})
        else:
            df[col] = df[col].map({df[col].unique()[0]:1, df[col].unique()[1]:0})

In [49]:
# split into features and labels
features = df[df.columns.values[:-1]]
labels = df[df.columns.values[-1]]
labels.value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

In [51]:
encodedFeatures = pd.get_dummies(features)
encodedFeatures

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,MultipleLines_No,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,1,29.85,29.85,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,56.95,1889.50,1,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,1,53.85,108.15,1,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,42.30,1840.75,0,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,1,70.70,151.65,1,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,24,1,1,84.80,1990.50,0,...,0,0,1,0,1,0,0,0,0,1
7039,1,0,1,1,72,1,1,103.20,7362.90,0,...,0,0,1,0,1,0,0,1,0,0
7040,1,0,1,1,11,0,1,29.60,346.45,0,...,1,0,0,1,0,0,0,0,1,0
7041,0,1,1,0,4,1,1,74.40,306.60,0,...,1,0,0,1,0,0,0,0,0,1
7042,0,0,0,0,66,1,1,105.65,6844.50,1,...,0,0,1,0,0,1,1,0,0,0

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(encodedFeatures, labels, test_size=0.2, random_state=77)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 40 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   PaperlessBilling                         7043 non-null   int64
 7   MonthlyCharges                           7043 non-null   float64
 8   TotalCharges                             7043 non-null   float64
 9   MultipleLines_No                         7043 non-null   uint8
 10  MultipleLines_No phone service           7043 non-null   uint8
 11  MultipleLines_Yes                        7043 non-null   uint8
 12  InternetService_DSL                      7043 non-null   uint8
 13  InternetService_Fiber optic              7043 non-null   uint8
 14  InternetService_No                       7043 non-null   uint8
 15  OnlineSecurity_No                        7043 non-null   uint8
 16  OnlineSecurity_No internet service       7043 non-null   uint8
 17  OnlineSecurity_Yes                       7043 non-null   uint8
 18  OnlineBackup_No                          7043 non-null   uint8
 19  OnlineBackup_No internet service         7043 non-null   uint8
 20  OnlineBackup_Yes                         7043 non-null   uint8
 21  DeviceProtection_No                      7043 non-null   uint8
 22  DeviceProtection_No internet service     7043 non-null   uint8
 23  DeviceProtection_Yes                     7043 non-null   uint8
 24  TechSupport_No                           7043 non-null   uint8
 25  TechSupport_No internet service          7043 non-null   uint8
 26  TechSupport_Yes                          7043 non-null   uint8
 27  StreamingTV_No                           7043 non-null   uint8
 28  StreamingTV_No internet service          7043 non-null   uint8
 29  StreamingTV_Yes                          7043 non-null   uint8
 30  StreamingMovies_No                       7043 non-null   uint8
 31  StreamingMovies_No internet service      7043 non-null   uint8
 32  StreamingMovies_Yes                      7043 non-null   uint8
 33  Contract_Month-to-month                  7043 non-null   uint8
 34  Contract_One year                        7043 non-null   uint8
 35  Contract_Two year                        7043 non-null   uint8
 36  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 37  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 38  PaymentMethod_Electronic check           7043 non-null   uint8
 39  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: float64(2), int64(7), uint8(31)
memory usage: 708.6 KB